# Sets & Booleans

In [1]:
x = set()

In [2]:
x

set()

In [3]:
x.add(10)

In [4]:
x

{10}

In [5]:
x.add(20)

In [6]:
x

{10, 20}

In [14]:
# set will manage the unique values. so, following method wont add 10 again. no exception too.... :)
x.add(10)

In [13]:
x

{1, 10, 20}

In [15]:
# set used to return distinct element from list with duplicate values
l = [1, 1, 1, 2, 2, 3, 3, 4, 5]

In [16]:
l

[1, 1, 1, 2, 2, 3, 3, 4, 5]

In [17]:
set(l)

{1, 2, 3, 4, 5}

In [18]:
# booleans
a = True

In [19]:
a

True

In [20]:
1 < 2

True

In [21]:
# none is placeholder. nothing will be printed.
b = None

In [22]:
b

In [23]:
b = 1

In [24]:
b

1

In [25]:
b = "asdasdas"

In [26]:
b

'asdasdas'